################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Csv2SqlInsert/bin/Debug/net6.0
/Csv2SqlInsert/obj
